h1 {
    text-align: center;
    color: white;
    padding: 30px;
}

p {
    text-align: center;
    color: white;
    margin-bottom: 60px;
}

body {
  background: black;
  font-family: 'Oswald', sans-serif;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-item {
  position: relative;
  display: none;
  align-items: center;
  width: 100%;
  @include transition($carousel-transition);
  backface-visibility: hidden;
  perspective: 1000px;
  float: center;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  max-height: 500px;
  
}
